@import '../../styles/_mixins.scss';
@import '../../styles/_variables.scss';

.appbar {
  @include rsp-pad;
  flex-grow: 1;
  box-shadow: -1px 7px 12px 0 rgba(0, 0, 0, 0.04);
  .links {
    display: flex;
    align-items: center;
    flex-grow: 1;
    text-transform: uppercase;
    a {
      @include resize-font(1.2rem);
      color: inherit;
      font-weight: 500;
      margin-left: 30px;
      white-space: nowrap;
      &:first-child {
        margin-left: 0;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
  .logo {
    display: flex;
    align-items: center;
    .icon {
      display: block;
      width: 46px;
      margin-left: 14px;
    }
    .name {
      width: 78px;
      margin-left: 14px;
    }
  }
}