@import '../../styles/_mixins.scss';
@import '../../styles/_variables.scss';

.appbar {
  @include rsp-pad;
  flex-grow: 1;
  box-shadow: -1px 7px 12px 0 rgba(0, 0, 0, 0.04);
  .links {
    display: flex;
    align-items: center;
    flex-grow: 1;
    text-transform: uppercase;
    a {
      color: inherit;
      font-size: .75rem;
      // font-size: 1.2rem;
      font-weight: 500;
      margin-left: 30px;
      &:first-child {
        margin-left: 0;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
  .logo {
    display: flex;
    align-items: center;
    .icon {
      display: block;
      width: 42px;
      height: 48px;
      background-image: url('/logowhale_96h.png');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .text {
      display: block;
      width: 72px;
      height: 48px;
      margin-left: 14px;
      background-image: url('/logotext_96h.png');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}