@import '../../styles/_mixins.scss';

.footer {
  // height: stretch;
  background-color: #666666;
  .content {
    @include rsp-pad;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 66px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: .75rem;
    font-weight: 500;
    a,
    span {
      text-transform: uppercase;
      color: #ffffff;
      font-size: .75rem;
      font-weight: 500;
      &,&:hover {
        text-decoration: none;
      }
    }
  }
}