@mixin rsp-pad {
  padding: 0 16px;
  @media (min-width: 600px) {
    padding: 0 20px;
  }
  @media (min-width: 960px) {
    padding: 0 64px;
  }
  @media (min-width: 1280px) {
    padding: 0 115px;
  }
}
@mixin resize-font($size) {
  font-size: $size * .625;
}
@mixin resize-lh($size) {
  line-height: $size * .625;
}
@mixin logo-font($weight) {
  font-family: 'Rajdhani', sans-serif;
  font-weight: $weight;
  letter-spacing: -.05rem;
}