$palette_orange: #f29821;
$palette_yellow: #ffcf0b;
$palette_blue: #669cc3;
$palette_start: #6ea9d3;
$palette_end: #82c0ab;

$logo_secondary_bg: #545f86;


$primary: $palette_yellow;
// $primary: #ffcc00;
$secondary: #e33371;
